# API
PORT=3000
NODE_ENV=development

# MongoDB (Atlas o Railway plugin)
MONGO_URL=mongodb://127.0.0.1:27017/bv-invest

# Auth
JWT_SECRET=change-me-long-random-string
INVITE_TOKEN=change-me-invite-token

# Proveedores (opcionales)
COINGECKO_API_KEY=
FINNHUB_API_KEY=
